.promo {

  border: 1px solid #ededed;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
  @include respond-to($tablet) {
    width: 668px;
    @include flex(null, null, column);
    // @include font-char(20px, 24px, $bold);
  }

  &__header {
    padding: 22px 27px 26px 27px;
    position: relative;
    @include respond-to($tablet) {
      order: 2;
    }
  }

  &__video {
    display: block;
    // order: 1;
    margin-bottom: 17px;
  }

  &__title {
    @include font-char(17px, 24px, $bold);
    padding-left: 63px;
    @include respond-to($tablet) {
      // order: 2;
      @include font-char(20px, 24px, $bold);
    }

    &::before {
      content: url('../img/video-mobile.png');
      position: absolute;
      left: 40px;
      top: 31px;
      @include respond-to($tablet) {
        top: 20px;
      }
    }
  }

  &__content {
    padding: 25px 27px 31px 33px;
    @include respond-to($tablet) {
      order: 3;
    }
  }

  &__text {
    @include font-char(13px, 24px);
    margin-bottom: 27px;
    @include respond-to($tablet) {
      @include font-char(15px, 30px);
    }
  }

  &__make-order-btn {
    text-transform: uppercase;
    @include font-char(17px, 16px, $bold);
    border: 2px solid #444444;
    width: 190px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    color: #444444;
    display: block;
    @include respond-to($tablet) {
      width: 584px;
      margin-bottom: 18px;
    }
  }
}
