.about {

  margin-bottom: 70px;

  &__title {
    margin-bottom: 35px;
    @include font-char(25px, 30px, 700);
  }

  &__item {
    min-height: 120px;
  }

  &__item-title {
    @include font-char(17px, 20px, 700);
  }

  &__icon {
    max-width: 100px;
    max-height: 100px;
  }

}
