.opinions {
  margin-bottom: 63px;
  padding: 0 30px;
  position: relative;

  &:after {
    content: url('../img/zigzag-line-desktop.png');
    position: absolute;
    bottom: -44px;
    right: 0;
  }

  &__title {
    @include font-char(25px, 30px, 700);
    margin-bottom: 33px;
  }

  &__text {
    @include font-char(15px, 30px);
    margin-bottom: 54px;
  }

  &__arrow-buttons {
    display: flex;
    border: 1px solid #ececec;
    position: relative;
    width: 260px;
    height: 52px;
    margin-bottom: 38px;
  }

  &__arrow-buttons:after {
    content: "";
    width: 1px;
    height: 52px;
    background: #ececec;
    position: absolute;
    right: 130px;
  }

  &__write-us-btn {
    border: 2px solid #444444;
    border-radius: 0;
    color: #444444;
    @include font-char(18px, 20px, $bold);
    text-transform: uppercase;
    min-width: 260px;
    min-height: 52px;
  }
}

.arrow-left-btn {
  background: url('../img/huge-arrow-left.png') center no-repeat;
  width: 130px;
}

.arrow-right-btn {
  background: url('../img/huge-arrow-right.png') center no-repeat;
  width: 130px;
}

.name {
  @include font-char(17px, 24px, $bold);
}

.instgrm {
  @include font-char(17px, 30px);
  margin-bottom: 31px;
}
