.footer {
  min-height: 160px;
  padding: 0;
  background: #f1f1f1;
  display: flex;
  align-items: center;

  &__content {
    padding: 0px 30px;
  }

  &__logo-img {
    display: none;
  }

  &__copyright {
    @include font-char(19px, 18px, $bold);
    @include flex(space-between, center);
    color: black;
    text-decoration: none;
    width: 180px;
    height: 80px;
    margin: 0 auto;
  }
}

.social {
  @include flex(center, center);
  border-bottom: 1px solid #e5e5e5;
  width: 260px;
  height: 81px;

  &__item {
    width: 50px;
    height: 30px;
  }
}

.instagram-icon {
  background: url('../img/instgr-icon.png') bottom no-repeat;
  width: 50px;
}

.fb-icon {
  background: url('../img/fb.png') center center no-repeat;
  width: 50px
}

.twitter-icon {
  background: url('../img/twitter.png') bottom no-repeat;
  width: 50px;
}

.copyright__pic {
  background: url("../img/htmlacademy.png") center center no-repeat;
  width: 50px;
  height: 50px;
}
