.contacts {
  @include respond-to($desktop) {
    border: 1px solid black;
    padding-top: 187px;
  }

  &__container {
    padding: 0 30px;
    @include respond-to($tablet) {
      padding: 0 50px;
    }
    @include respond-to($desktop) {
      padding: 0 100px 0 100px;
      background: url('../img/map-pin-desktop.png') 627px 16px no-repeat;
    }
  }

  &__header {
    @include flex(space-between, end);
    @include respond-to($desktop) {
      justify-content: flex-start;
      padding-left: 67px;
    }
  }

  &__title {
    @include font-char(18px, 30px, $bold);
    margin-bottom: 47px;
    @include respond-to($tablet) {
      @include font-char(43px, 50px, $bold);
    }
    @include respond-to($desktop) {
      order: 2;
      @include font-char(53px, 57px, $bold);
      margin-left: 59px;
      margin-bottom: 49px;
    }
  }

  &__flag-pic {
    display: none;
    @include respond-to($tablet) {
      display: block;
    }
    @include respond-to($desktop) {
      order: 1;
      align-self: baseline;
    }
  }

  &__info {
    @include font-char(15px, 30px, $regular);
    @include respond-to($tablet) {
      @include font-char(43px, 50px, 700);
      @include flex(flex-start);
      align-items: flex-start;
    }
    @include respond-to($desktop) {
      @include flex(null, null, column);
      @include font-char(17px, 30px, $bold);
      margin-left: 178px;
    }
  }

  &__item {
    @include flex(flex-start);
    @include respond-to($tablet) {
      @include font-char(17px, 30px);
    }
  }

  &__parameter {
    width: 78px;
    margin-bottom: 48px;
  }

  &__email {
    border-bottom: 1px solid #62d1ba;
    margin-bottom: 48px;
  }

  &__adress {
    margin-bottom: 86px;
    margin-left: 33px;
  }

  &__map {
    background: url('../img/map-mobile.png');
    height: 457px;
    width: 320px;
    position: relative;
    z-index: 1;
    margin-bottom: 39px;
    @include respond-to($tablet) {
      background: url('../img/map-pin-tablet.png');
      width: 100%;
      margin-bottom: 55px;
    }
    @include respond-to($desktop) {
      display: none;
    }
  }

  &__map:after {
    content: url(../img/map-pin.png);
    position: absolute;
    top: 29%;
    left: 43%;
    z-index: 3;
    @include respond-to($tablet) {
      display: none;
    }
  }

  &__write-us-btn {
    text-transform: uppercase;
    @include font-char(18px, 20px, $bold);
    border: 2px solid #444444;
    border-radius: 0;
    width: 260px;
    margin: 0 30px;
    margin-bottom: 39px;
    padding: 17px 0;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    @include respond-to($tablet) {
      margin: 0 auto;
      margin-bottom: 57px;
      width: 226px;
    }
    @include respond-to($desktop) {
      margin: 0;
    }
  }
}


.contacts-adress {
  @include respond-to($tablet) {
    margin-left: 45px;
    width: 321px;
  }
  @include respond-to($desktop) {
    margin-left: 0;
  }
}
