.intro {
  background: url('../img/hero-mobile.png') top center no-repeat;
  min-height: 282px;
  padding-top: 80px;
  @include respond-to($tablet) {
    background: url('../img/hero-tablet.png') top center no-repeat;
    padding-top: 170px;
    position: relative;
    &__title-br1 {
      display: none;
    }
  }

  @include respond-to($tablet) {
    &:after {
      content: url('../img/zigzag-fill-desktop.png');
      width: 768px;
      display: block;
      position: absolute;
      bottom: -10px;
      right: 1px; //почему приходится вырванивать?
    }
  }

  &__title {
    text-align: center;
  	@include font-char(27px, 30px, 700);
    @include respond-to($tablet) {
      @include font-char(43px, 50px, $bold);
    }
  }
}

.categories {
    margin-top: 128px;
    @include respond-to($tablet) {
      margin-top: 356px;
      display: flex;
      padding: 0 50px;
    }

  &__title {
    @include font-char(19px, 24px, 700)
    @include respond-to($tablet) {
      @include font-char(20px, 30px, 700)
    }
    width: 100px;
    color: white;
    text-decoration: none;
  }

  &__interier-subjects {
    min-height: 103px;
    background: #63d1bb;
    padding: 0 30px;
    text-decoration: none;
    @include flex(space-between, center);
    position: relative;
    @include respond-to($tablet) {
      width: 334px;
      min-height: 120px;
    }
  }

  &__interier-subjects:after {
    content: url("../img/interior.png");
    width: 61px;
    height: 61px;
    display: block;
    position: absolute;
    right: 10px;
  }

  &__child-toy {
    min-height: 103px;
    background: #56c3b2;
    padding: 0 30px;
    text-decoration: none;
    @include flex(space-between, center);
    position: relative;
    @include respond-to($tablet) {
      width: 334px;
      min-height: 120px;
    }
  }

  &__child-toy:after {
    content: url("../img/toy.png");
    width: 61px;
    height: 61px;
    display: block;
    position: absolute;
    right: 18px;
  }
}
