.header {

	&__top {
    @include flex(space-between, center);
    height: 80px;
    padding: 0 30px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    @include respond-to($tablet) {
      height: 89px;
      padding: 0 50px;
      @include flex(space-between);
    }
	}

  &__logo {
    transform: translateX(100%);
    @include respond-to($tablet) {
      transform: none;
    }
  }

	&__bottom {
		display: none;
	}

	&__functional {
    display: none;
    height: 100%;
    max-width: 398px;

    @include respond-to($tablet) {
      @include flex();
    }
  }

  &__search-btn {
    background: url('../img/search.png') center center no-repeat;
    border: none;
    border-radius: 0;
    border-left: 1px solid #ececec;
    width: 82px;
  }

  &__basket {
    @include font-char(17px, 24px, $bold);
    @include flex(null, center);
    border-left: 1px solid #ececec;
    padding-left: 82px;
  }

}

.links {
	display: none;
}

.logo-tablet, .logo-desktop {
	display: none;
}

@include respond-to($tablet) {
  .logo-tablet {
    display: block;
  }
  .logo-mobile {
    display: none;
  }
}

.menu-mobile__items-btn {
  @include respond-to($tablet) {
    display: none;
  }

	width: 20px;
	height: 2px;
	background: black;
	display: block;
	position: relative;

	&:before {
		content: "";
		width: 20px;
		height: 2px;
		background: black;
		bottom: 4px;
		position: absolute;
	}

	&:after {
		content: "";
		width: 20px;
		height: 2px;
		background: black;
		top: 4px;
		position: absolute;
	}
}
