.header {
  position: relative;
  @include respond-to($desktop) {
    padding: 0 50px;
  }

	&__top {
    @include flex(space-between, center);
    height: 80px;
    padding: 0 30px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    @include respond-to($tablet) {
      height: 89px;
      padding: 0 50px;
      @include flex(space-between);
      border-top: 0;
    }
	}

  &__logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    @include respond-to($tablet) {
      position: static;
      left: auto;
      transform: none;
    }
    @include respond-to($desktop) {
      position: static;
      margin-right: 57px;
    }
  }

  &__bottom {
    padding: 0 50px;
    position: absolute;
    top: 100px;
    z-index: 15;
  }

	&__menu-desktop {
		display: none;
    @include respond-to($desktop) {
      @include flex(space-between);
      @include font-char(15px, 24px, $bold);
      width: 1050px;
    }
	}

  &__menu-tablet {
    display: none;
    @include respond-to($tablet) {
      @include flex(space-between);
      @include font-char(15px, 24px, $bold);
    }
    @include respond-to($desktop) {
      display: none;
    }
  }

	&__functional {
    display: none;
    height: 100%;
    max-width: 398px;
    @include respond-to($tablet) {
      @include flex();
    }
  }

  &__search-btn {
    background: url('../img/search.png') center center no-repeat;
    border: none;
    border-radius: 0;
    border-left: 1px solid #ececec;
    width: 82px;
  }

  &__basket {
    @include font-char(17px, 24px, $bold);
    @include flex(null, center);
    border-left: 1px solid #ececec;
    padding-left: 82px;
    position: relative;

    &:before {
      content: url('../img/cart.png');
      display: block;
      position: absolute;
      left: 30px;
      top: 35px;
    }
  }
}

.menu-extra {

  &__item {
    text-decoration: none;
    color: black;
  }

  &__order-knitting {
    margin-left: 35px;
  }

  &__delivery {
    font-weight: 400;
    margin-left: 133px;
    @include respond-to($desktop) {
      margin-left: 434px;
    }
  }
}

.links {
	display: none;
  @include respond-to($desktop) {
    @include flex(space-between);
    @include font-char(17px, 24px, $bold);
  }

  &__item {
    @include flex(space-between, center);
    color: black;
    text-decoration: none;
    width: 184px;
    height: 89px;

    &:first-child {
      border-right: 1px solid #ececec;
    }

    &:nth-child(2) {
      padding-left: 36px;
    }
  }
}

.logo-tablet, .logo-desktop {
	display: none;
}

@include respond-to($tablet) {
  .logo-tablet {
    display: block;
  }
  .logo-mobile {
    display: none;
  }
}

@include respond-to($desktop) {
  .logo-tablet {
    display: none;
  }
  .logo-desktop {
    display: block;
  }
}

.mobile-menu__items-btn {
  @include respond-to($tablet) {
    display: none;
  }

	width: 20px;
	height: 2px;
	background: black;
	display: block;
	position: relative;

	&:before {
		content: "";
		width: 20px;
		height: 2px;
		background: black;
		bottom: 4px;
		position: absolute;
	}

	&:after {
		content: "";
		width: 20px;
		height: 2px;
		background: black;
		top: 4px;
		position: absolute;
	}
}

.mobile-menu {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  &__header {
    position: relative;
    @include flex(space-between, center);
    height: 80px;
    width: 260px;
    padding: 0 30px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }

  &__logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.mobile-menu {
  display: none;
  @include flex(center, center, column);
  @include respond-to($tablet) {
    display: none;
  }
  @include respond-to($desktop) {
    display: none;
  }

  &__close-btn {
    background: url('../img/menu-close.png') no-repeat;
    height: 21px;
    width: 21px;
    position: absolute;
    right: 29px;
    top: 29px;
  }

  &__item {
    height: 80px;
    width: 243px;
    background: white;
    color: black;
    @include flex(center, flex-start, column);
    @include font-char(17px, 24px, $bold);
    text-decoration: none;
    border-bottom: 1px solid #ececec;
    padding-left: 77px;

    &:hover {
      background: aliceblue;
    }
    &:active {
      background: yellow;;
    }
  }

  &__search-btn:before {
    content: url('../img/search.png');
    position: absolute;
    left: 30px;
    bottom: 107px;
  }

  &__cart:before {
    content: url('../img/cart.png');
    position: absolute;
    left: 30px;
    bottom: 28px;
  }
}

.mobile-menu-show {
  display: none;
}

.items-btn--off {
  display: block;
}
