@mixin font-char($fsize, $lineheight: 0, $fweight: $regular) {
  font-size: $fsize;
	font-family: 'Open Sans', 'Arial', sans-serif;
	line-height: $lineheight;
  font-weight: $fweight;
}

@mixin flex($horisontal:null, $vertical:null, $direction:row) {
  display: flex;
  justify-content: $horisontal;
  align-items: $vertical;
  flex-direction: $direction;
}
